DBServer/FDB
DBServer/!AddrTable.txt
DBServer/!ServerInfo.txt
DBServer/Dbsrc.ini
Config.ini
LoginSrv/ChrLog
LoginSrv/CountLog
LoginSrv/IDDB
LoginSrv/!AddrTable.txt
LoginSrv/!ServerAddr.txt
LoginSrv/!UserLimit.txt
LoginSrv/Logsrv.ini
LogData.ini
Mir200/ConLog
Mir200/Log
Mir200/!abuse.txt
Mir200/!runaddr.txt
Mir200/!ServerTable.txt
Mir200/!setup.txt
Mir200/!SKYbug.txt
textfile.txt
